// _app-variables.scss
// Use this to override Bootstrap and App variables

// 사용자 정의 색상 변수
$custom-primary: #0d6efd;
$custom-secondary: #6c757d;
$custom-success: #198754;
$custom-info: #0dcaf0;
$custom-warning: #ffc107;
$custom-danger: #dc3545;
$custom-light: #f8f9fa;
$custom-dark: #212529;
